env/
__pycache__/
*.pyc
.DS_Store

## KineViz - Personal Folders & Files
estudios/
recursos/
backups/
*.bak
.*

## Build & Dist KineViz (Windows y Mac OS)
build/
dist/

## For official version
ROADMAP.md
## kineviz.spec
logs/