env/
__pycache__/
*.pyc
.DS_Store

## KineViz - Personal Folders & Files
kineviz.db 
estudios/
recursos/
.*

## Build & Dist KineViz (Windows y Mac OS)
## Before finishing the MVP delete these files from GitHub
## kineviz.spec
## build/
## dist/